name: CI/CD to Oracle Cloud

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build JAR
        run: ./gradlew clean bootJar


      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get current time
        uses: 1466587594/get-current-time@v2
        id: current-time
        with:
          format: YYYYMMDD-HHmmss
          utcOffset: "+09:00"

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/loop-server:latest
            ghcr.io/${{ github.repository_owner }}/loop-server:${{ steps.current-time.outputs.formattedTime }}

      - name: Deploy to Oracle Cloud
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.ORACLE_HOST }}
          username: opc
          key: ${{ secrets.ORACLE_SSH_KEY }}
          script: |
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            docker pull ghcr.io/${{ github.repository_owner }}/loop-server:latest
            
            docker stop loop-server || true
            docker rm loop-server || true
            
            docker run -d -p 8080:8080 --name loop-server \
              --network loop-network \
              --restart unless-stopped \
              -e JAVA_OPTS="-Xmx400m" \
              -e DB_URL='jdbc:mysql://mysql-container:3306/mydb?useSSL=false&allowPublicKeyRetrieval=true' \
              -e DB_USERNAME='root' \
              -e DB_PASSWORD='${{ secrets.DB_PASSWORD }}' \
              -e AWS_ACCESS_KEY_ID='${{ secrets.AWS_ACCESS_KEY_ID }}' \
              -e AWS_SECRET_ACCESS_KEY='${{ secrets.AWS_SECRET_ACCESS_KEY }}' \
              -e AWS_REGION='${{ secrets.AWS_REGION }}' \
              -e AWS_S3_BUCKET='${{ secrets.AWS_S3_BUCKET }}' \
              -e JWT_SECRET='${{ secrets.JWT_SECRET }}' \
              -e JWT_ACCESS_TOKEN_VALIDITY='${{ secrets.JWT_ACCESS_TOKEN_VALIDITY }}' \
              -e JWT_REFRESH_TOKEN_VALIDITY='${{ secrets.JWT_REFRESH_TOKEN_VALIDITY }}' \
              ghcr.io/${{ github.repository_owner }}/loop-server:latest
